.content {
    margin-top: 40px;
}

.menu-nav {

}

.menu-label {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    margin: 16px 12px 8px 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 6px 0px 6px 16px;
    margin: 0px 8px;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in-out 200ms;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));

    &.active {
        color: var(--primary);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.title {
    font-size: 13px;
    font-weight: 500;
    margin-left: 18px;
}

.icon-menu {
    transition: ease-out 0.1s;
    &.active {
       transform: rotate(0.25turn);
    }
}

.icon {
}

.icon,
.active-icon {
    display: flex;
}

.line {
    border: 0;
    border-bottom: 1px solid #00000033;
    background-color: transparent;
    margin: 12px 0px;
    border-color: #00000019;
    
}
// .active-icon {
//     display: none;
// }


