.wrapper {
}

.container {
    margin-top: 60px;

}

.content {
    flex: 1;
    min-height: 100vh;
    // padding-left: 360px;
    margin-left: 335px;
    padding-top: 16px;
    margin-right: 62px;
    overflow: hidden;
}
